@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
/*@import url("../font/notosans.css");*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700,800&subset=korean');
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }

/* CSS Document */
*{padding:0;margin:0;}
html,body{width:100%;height:100%;}
html{overflow-y:auto;}
body{font-family:'Noto Sans KR','Nanum Gothic','나눔고딕','돋움','dotum',tahoma,'MalgunGothic','Verdana','Arial','Helvetica', sans-serif; vertical-align:middle; word-break:keep-all; color:#252525; font-size:3.333vw; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;line-height:1; letter-spacing:-0.04em; font-weight:400; }
button {font-family:'Noto Sans KR','Nanum Gothic','나눔고딕','돋움','dotum',tahoma,'MalgunGothic','Verdana','Arial','Helvetica', sans-serif;}
textarea {font-family:'Noto Sans KR','Nanum Gothic','나눔고딕','돋움','dotum',tahoma,'MalgunGothic','Verdana','Arial','Helvetica', sans-serif;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{position:relative;border:none; background:transparent;}
hr,legend {display:none;}
img,fieldset,iframe {border:none;}
fieldset{min-width:100%;}
img{vertical-align:middle;}
caption {display:none;}
input,select,button,textarea{vertical-align:middle;-webkit-appearance:none; -moz-appearance:none; appearance:none; webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0; outline:none;}
button{margin:0;padding:0;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;}
a{text-decoration:none; color:#666;}
a:link,a:visited,a:active,a:focus{text-decoration:none;}
a:hover{text-decoration:none;}

/* float */
.clearfix{*zoom: 1;}
.clearfix:after{content:''; display:block; clear:both;}

/* add common style */
input {
    border:1px solid #dbdbdb;
    padding:0 2.778vw;
    box-sizing:border-box;
}
input::placeholder {
    color:#999999;
    font-size:3.333vw;
}
.manage_main input[readonly] {
    background-color:#f7f7f7;
    color: #454545;
}
input.date_form[readonly] {
    background-color:#fff;
}
select {
    border:1px solid #dbdbdb;
    background:#fff url('../img/ico/ico_select.png') right 2.778vw center no-repeat;
    background-size:1.667vw;
    padding:0 2.778vw;
    box-sizing:border-box;
}
.btn-default {
    width:100%;
    height:10vw;
    font-size:3.472vw;
    border:1px solid #dbdbdb;
    color:#454545;
}
.btn-active {
    width:100%;
    height:10vw;
    font-size:3.472vw;
    border:1px solid #185ac3;
    background-color:#185ac3;
    color:#fff;
}
.btn-line {
    width:100%;
    height:10vw;
    font-size:3.472vw;
    border:1px solid #185ac3;
    background-color:#fff;
    color:#185ac3;
}